parameters:
    level: max
    treatPhpDocTypesAsCertain: false
    bootstrapFiles:
        - phpstan-bootstrap.php
    ignoreErrors:
        -
            message: '#Only booleans are allowed in a negated boolean, string given\.#'
            path: %currentWorkingDirectory%/src/Persistence/SaveNewRecord.php
        -
            message: '#Only booleans are allowed in a negated boolean, string given\.#'
            path: %currentWorkingDirectory%/src/Persistence/SaveExistingRecord.php
        -
            message: '#Only booleans are allowed in a negated boolean, string given\.#'
            path: %currentWorkingDirectory%/src/Context/Schedule/Services/SaveSchedule.php
        - '#Access to an undefined property Psr\\Cache\\CacheItemInterface::\$key\.#'
        - '#Call to deprecated method at\(\) of class PHPUnit\\Framework\\TestCase:\nhttps://github.com/sebastianbergmann/phpunit/issues/4297#'
    excludes_analyse:
        - %currentWorkingDirectory%/config/dumper.php
        - %currentWorkingDirectory%/tests/TestConfig.php
        - %currentWorkingDirectory%/tests/Context/Schedule/Services/SaveScheduleTest.php
        - %currentWorkingDirectory%/tests/Schedule/Models/ScheduleItemModelTest.php
        - %currentWorkingDirectory%/src/Persistence/RecordQuery.php
        - %currentWorkingDirectory%/src/Persistence/Record.php
        - %currentWorkingDirectory%/src/Payload/SpecificPayload.php
        - %currentWorkingDirectory%/tests/Context/Schedule/Models/ScheduleItemModelTest.php
        - %currentWorkingDirectory%/src/Context/Schedule/Services/TranslateRunEvery.php
        - %currentWorkingDirectory%/tests/Schedule/Models/ScheduleItemModelTest.php
        - %currentWorkingDirectory%/config/Abstractions/SimpleModel.php
        - %currentWorkingDirectory%/tests/Context/Queue/Services/RunItemTest.php
        - %currentWorkingDirectory%/tests/Context/Queue/Services/RestartQueuesByIdsTest.php
        - %currentWorkingDirectory%/tests/Context/Queue/Services/RestartAllStalledItemsTest.php
        - %currentWorkingDirectory%/tests/Context/Queue/Services/PostRunTest.php
        - %currentWorkingDirectory%/tests/Context/Queue/Services/MarkStoppedDueToErrorTest.php
        - %currentWorkingDirectory%/tests/Context/Queue/Services/MarkItemAsStartedTest.php
        - %currentWorkingDirectory%/tests/Context/Queue/Services/FetchStalledItemsTest.php
        - %currentWorkingDirectory%/tests/Context/Queue/Services/FetchNextQueueItemTest.php
        - %currentWorkingDirectory%/tests/Context/Queue/Services/FetchIncompleteTest.php
        - %currentWorkingDirectory%/tests/Context/Queue/Services/FetchHelperTest.php
        - %currentWorkingDirectory%/tests/Context/Queue/Services/DeleteQueuesByIdsTest.php
        - %currentWorkingDirectory%/tests/Context/Queue/Services/ClearAllStalledItemsTest.php
        - %currentWorkingDirectory%/tests/Context/Queue/Services/AddToQueueTest.php
        - %currentWorkingDirectory%/tests/Context/Queue/QueueApiTest.php
        - %currentWorkingDirectory%/tests/Context/Queue/Models/QueueModelTest.php
        - %currentWorkingDirectory%/tests/Cli/Commands/Queue/RunQueueCommandTest.php
        - %currentWorkingDirectory%/src/Context/Queue/Services/RunItem.php
        - %currentWorkingDirectory%/src/Context/Queue/Services/FetchHelper.php
        - %currentWorkingDirectory%/tests/Context/Email/Adapters/MandrillSendMailAdapterTest.php
        - %currentWorkingDirectory%/src/Context/Email/Adapters/MandrillSendMailAdapter.php
        - %currentWorkingDirectory%/tests/Context/Users/Services/ValidateUserPasswordTest.php
        - %currentWorkingDirectory%/tests/Context/Users/Services/SaveUserTest.php
        - %currentWorkingDirectory%/tests/Context/Users/Services/GeneratePasswordResetTokenTest.php

includes:
    - vendor/phpstan/phpstan-deprecation-rules/rules.neon
    - vendor/thecodingmachine/phpstan-safe-rule/phpstan-safe-rule.neon
    - vendor/phpstan/phpstan-phpunit/extension.neon
    - vendor/phpstan/phpstan-strict-rules/rules.neon
