{% extends 'Http/_Infrastructure/_LayoutFeWithLogo.twig' %}

{% block feWithLogoContent %}
    <h1 class="heading heading--level-1 page-blocks__heading">
        Where’d it go?
    </h1>

    <p>Can you believe it? We lost that doggone page. Our best guess is it’s never coming back. The best thing you can do is get right on out of dodge! Pack your bags and head on back to civilized territory.</p>

    <p>You can <a href="/">click here to try the home page</a>, or use a link in the menu, sidebar, or footer to find your way back to a safe place.</p>
{% endblock %}


