{% extends 'Http/_Infrastructure/_LayoutFeWithLogo.twig' %}

{% block feWithLogoContent %}
    <h1 class="heading heading--level-1 page-blocks__heading">
        Well, that's a problem!
    </h1>

    <p>The server had some kind of error and we're having trouble displaying this page.</p>
{% endblock %}


