{# @var string searchQuery #}
{# @var \App\Context\Episodes\Models\EpisodeModel[] episodes #}
{# @var \App\Http\Models\Pagination pagination #}

{% extends 'Http/_Infrastructure/_LayoutFe.twig' %}

{% block feContent %}
    {% if searchQuery is defined and searchQuery %}
        <div class="layout-block">
            <div class="layout-block__inner">
                <h1 class="heading heading--level-1">Your search results</h1>
                <p class="util-text-large">
                    You searched for episodes with: &ldquo;{{ searchQuery }}&rdquo;
                </p>
            </div>
        </div>
    {% endif %}
    {% if episodes|length > 0 %}
        <div class="layout-block">
            <div class="layout-block__inner">
                {% for episode in episodes %}
                    {% include 'Http/FE/Episodes/EpisodeShowcase.twig' with {
                        episode: episode
                    } only %}
                {% endfor %}
            </div>
        </div>
    {% endif %}
    {% if pagination is defined and pagination.totalPages > 1 %}
        <div class="podcast-layout">
            <div class="podcast-layout__strip">
                {% include 'Http/FE/Includes/Pagination.twig' with {
                    pagination: pagination,
                } only %}
            </div>
        </div>
    {% endif %}
{% endblock %}
