{# @var string title #}

{% extends 'Http/_Infrastructure/_LayoutFeWithLogo.twig' %}

{% block feWithLogoContent %}
    <h1 class="heading heading--level-1 page-blocks__heading">
        {{ title|smartypants|widont }}
    </h1>

    {{ content|raw|smartypants }}
{% endblock %}

