{% extends 'Http/_Infrastructure/_Layout.twig' %}

{# @var \App\Context\Users\Models\LoggedInUser loggedInUser #}
{% set loggedInUser = fetchLoggedInUser() %}

{% block content %}
    <div class="py-20 md:py-32 px-3">
        <div class="mx-auto max-w-xl">
            <div class="bg-white dark:bg-blue-smoke shadow sm:rounded-lg">
                <div class="px-4 py-5 sm:p-6">
                    <h3 class="text-lg leading-6 font-medium text-light-red dark:text-red">
                        Unauthorized
                    </h3>
                    <div class="mt-2 max-w-xl text-sm leading-5 text-gray-500 dark:text-gray-100">
                        <p>
                            You cannot access this page with your current access level.
                        </p>
                    </div>
                    {% if loggedInUser.hasModel %}
                        <form
                            action="/log-out"
                            method="POST"
                            accept-charset="UTF-8"
                        >
                            <input type="hidden" name="{!--csrfTokenNameKey--}" value="{!--csrfTokenName--}">
                            <input type="hidden" name="{!--csrfTokenValueKey--}" value="{!--csrfTokenValue--}">
                            <input type="hidden" name="redirect_to" value="/cms">
                            <div class="mt-5">
                                <button
                                    type="submit"
                                    class="inline-flex items-center justify-center px-4 py-2 border border-transparent font-medium rounded-md text-red-700 bg-red-100 hover:bg-red-50 focus:outline-none focus:border-red-300 focus:shadow-outline-red active:bg-red-200 transition ease-in-out duration-150 sm:text-sm sm:leading-5"
                                >
                                    Log in As Another User?
                                </button>
                            </div>
                        </form>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

