{% set content = content ?? '' %}
{% set href = href ?? '' %}

<span class="inline-flex rounded-md shadow-sm">
    <a
        href="{{ href }}"
        type="button"
        class="inline-flex items-center px-4 py-2 border border-transparent text-base leading-6 font-medium rounded-md text-white hover:text-white bg-night-owl-red hover:bg-night-owl-dark-red focus:outline-none active:bg-night-owl-dark-red transition ease-in-out duration-150"
    >
        {{ content|smartypants|widont }}
    </a>
</span>
